# Core dependencies
requests>=2.31.0             # For making HTTP requests to NVIDIA API
aiohttp  # Used across notification modules for API/webhook requests - easier to just install as standard.

# Optional dependencies (notification platform specific)
discord-webhook[discord]  # Needed to use Discord webhook notifications
python-telegram-bot[telegram]>=20.3  # For Telegram bot functionality
